@using COMP229_F2016_Lesson12.Models
@model Album


@{
    ViewBag.Title = "Album - " + Model.Title;
}

<div id="album-details">
    <h1>Title: @Model.Title </h1>

    <h2>Genre: @Model.Genre.Name </h2>
    <h2>Genre: @Model.Artist.Name </h2>
    
    <h2>Price: @Model.Price </h2>
    <h2>Album Art: @Model.AlbumArtUrl </h2>

    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.AlbumId }, "")
    </p>
</div>


